.tooltip {
  position: absolute;
  display: inline-block;
  min-width: 5em;
  padding: .5em;
  background: #f4c63d;
  color: #453d3f;
  font-weight: 700;
  text-align: center;
  pointer-events: none;
  z-index: 1;
}

.tooltip:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top-color: #f4c63d;
}
